
{#- --- INDEX --- #}
{%- set ns = namespace(new_sort = '') %}
{% for b, filename in blocks_data -%}{% if b.find(sort).text.lower() != ns.new_sort.lower() %}{% set ns.new_sort = b.find(sort).text %}
{% if ns.new_sort %}{% if not loop.first %} - {% endif %}<a href="#{{ ns.new_sort.lower() }}">{{ ns.new_sort|replace('_','&nbsp;')|capfirst }}</a>{% endif %}
{%- endif %}{% endfor %}
{% set ns.new_sort = '' %}

<br><br><br>

{% for b, filename in blocks_data %}
{% if b.find(sort).text.lower() != ns.new_sort.lower() %}{% set ns.new_sort = b.find(sort).text %}<a name="{{ ns.new_sort.lower() }}"></a>{% endif %}
<a name="{{ b.find('reference').text }}"></a>
<b>{{ b.find('reference').text|replace('_','&nbsp;') }}</b>
<table class="data">
    <tr>
        <td class="col-1 AI-Statement">Al Statement:</td><td class="col-2 AI-Statement-input">{{ b.find('algdata/algorithm_statement').text or '' }}</td>
        <td class="col-3 AI-Math">Al Math:</td><td class="col-4 AI-Math-input">{{ b.find('algdata/algorithm_math').text or '' }}</td>
    </tr>
    <tr>
        <td colspan="4">{%- if b.find('algdata/variables') %}
            <table class="algo">
                <tr>
                    {%- for var in b.find('algdata/variables') %}
                    <td>{% if var.find('description').text %}{{ var.find('description').text }} in {% endif %}<a href="../units/{{var.find('unit').text|lower}}.html">{{ var.find('unit').text or '' }}</a></td>
                    {%- endfor %}
                </tr>
                <tr>
                    {%- for var in b.find('algdata/variables') %}
                    <td><input type="text" name="{{var.tag}}" oninput="calc(this)" onkeyup="calc(this)"{% if var.find('op').text %} data-op="{{var.find('op').text}}"{% endif %}></td>
                    {%- endfor %}
                </tr>
                {%- if b.find('algdata/results/*') %}
                <tr>
                    {%- for var in b.find('algdata/results') %}
                    <td>{% if var.find('description').text %}{{ var.find('description').text }} in {% endif %}<a href="../units/{{var.find('unit').text|lower}}.html">{{ var.find('unit').text or '' }}</a></td>
                    {%- endfor %}
                </tr>
                <tr>
                    {%- for var in b.find('algdata/results') %}
                    <td><input type="text" name="{{var.tag}}" disabled="" data-op="{{var.find('op').text}}"></td>
                    {%- endfor %}
                </tr>
                {%- endif %}
            </table>
        {% endif %}</td>
    </tr>
    <tr>
        <td>Source info:</td><td>{% if b.find('biblioref/authorgroup/author').text %}<a href="../bibliography/bibliography.html#{{(b.find('biblioref/authorgroup/author/surname').text or '').strip('.,')|replace(' ','')}}{{(b.find('biblioref/authorgroup/author/firstname').text or '').strip('.,')|replace(' ','')}}">{{ b.find('biblioref/abbrev').text|replace('_',' ') }}</a>{% else %}{{ (b.find('biblioref/abbrev').text or '')|replace('_',' ') }}{% endif %}
        {%- if b.find('biblioref/pagenums').text %}, {{ b.find('biblioref/pagenums').text }}{% endif %}</td>
        <td>Also cited in:</td><td>{% if b.find('biblioref/authorgroup/author2').text %}<a href="../bibliography/bibliography.html#{{(b.find('biblioref/authorgroup/author2/surname').text or '').strip('.,')|replace(' ','')}}{{(b.find('biblioref/authorgroup/author2/firstname').text or '').strip('.,')|replace(' ','')}}">{{ b.find('biblioref/abbrev2').text|replace('_',' ') }}</a>{% else %}{{ (b.find('biblioref/abbrev2').text or '')|replace('_',' ') }}{% endif %}
        {%- if b.find('biblioref/pagenums2').text %}, {{ b.find('biblioref/pagenums').text }}{% endif %}</td>
    </tr>
    <tr>
        <td>Algorithm type:</td><td>{% if b.find('algorithm_description/algorithm_type').text %}<a href="../algorithm_type/{{b.find('algorithm_description/algorithm_type').text|replace(' ','_')|lower}}.html">{{ b.find('algorithm_description/algorithm_type').text|capfirst }}</a>{% endif %}</td>
        <td>Position in process:</td><td>{% if b.find('algorithm_description/position_in_process').text %}<a href="../position_in_process/{{b.find('algorithm_description/position_in_process').text|replace(' ','_')|lower}}.html">{{ b.find('algorithm_description/position_in_process').text|capfirst }}</a>{% endif %}</td>
    </tr>
    <tr>
        <td>Material:</td><td>{% if b.find('algorithm_description/material').text %}<a href="../material/{{b.find('algorithm_description/material').text|replace(' ','_')|lower}}.html">{{ b.find('algorithm_description/material').text|capfirst }}</a>{% endif %}</td>
        <td>Source type:</td><td>{% if b.find('algorithm_description/source_type').text %}<a href="../source_type/{{b.find('algorithm_description/source_type').text|replace(' ','_')|lower}}.html">{{ b.find('algorithm_description/source_type').text|capfirst }}</a>{% endif %}</td>
    </tr>
    <tr>
        <td>Source chronology:</td><td>{% if b.find('algorithm_description/source_chronology').text %}<a href="../source_chronology/{{b.find('algorithm_description/source_chronology').text|replace(' ','_')|lower}}.html">{{ b.find('algorithm_description/source_chronology').text|capfirst }}</a>{% endif %}</td>
        <td>Source geography:</td><td>{% if b.find('algorithm_description/source_geography').text %}<a href="../source_geography/{{b.find('algorithm_description/source_geography').text|replace(' ','_')|lower}}.html">{{ b.find('algorithm_description/source_geography').text|capfirst }}</a>{% endif %}</td>
    </tr>
    <tr>
        <td>Notes:</td><td colspan="3">{{ b.find('algnotes/general_notes').text or '' }}</td>
    </tr>
    <tr>
        <td>Notes on bibliography:</td><td colspan="3">{{ b.find('algnotes/biblio_notes').text or '' }}</td>
    </tr>
    <tr>
        <td>How to cite:</td><td>EnCAB alg. - {{ b.find('reference').text }}</td>
        <td>Created by/on:</td><td>{% if b.find('algauthors/creation_author_group/author') %}<a href="../bibliography/bibliography.html#{{(b.find('algauthors/creation_author_group/author/surname').text or '').strip('.,')|replace(' ','')}}{{(b.find('algauthors/creation_author_group/author/firstname').text or '').strip('.,')|replace(' ','')}}">{{(b.find('algauthors/creation_author_group/author/surname').text or '')}} {{(b.find('algauthors/creation_author_group/author/firstname').text or '')}}</a>{% endif %}
        {%- if b.find('algauthors/creation_author_group/author/creation_date').text %}, {{ b.find('algauthors/creation_author_group/author/creation_date').text }}{% endif %}</td>
    </tr>
    <tr>
        <td>Input data:</td><td><a href="../algorithms_data/{{filename}}">{{ filename }}</a></td>
        <td>Modified by/on:</td><td>
        {%- for modification_author in b.find('algauthors/modification_author_group') %}
            <a href="../bibliography/bibliography.html#{{(modification_author.find('surname').text or '').strip('.,')|replace(' ','')}}{{(modification_author.find('firstname').text or '').strip('.,')|replace(' ','')}}">{{(modification_author.find('surname').text or '')}} {{(modification_author.find('firstname').text or '')}}</a>
            {%- if modification_author.find('modification_date').text %}, {{ modification_author.find('modification_date').text }}{% endif %}
        {%- if not loop.last %}; {% endif %}{% endfor %}</td>
    </tr>
</table>
<br><br>

{% endfor %}
