/*
 * style.css for EnCAB
 * old background color: LightBlue: #add8e6 rgb(173, 216, 230) 
 * new background color: #7498A8 rgb (116, 152, 168)
 */


html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}


body {
    background-color: #7498A8;
    margin: 20px 0;
    padding: 0 10px;
    font-family: "Verdana", Verdana, sans-serif;
    line-height: 1.3;
    font-size: 16px;
    color: black; /* #222; */
}

h1,h2,h3 {
	line-height:1.2
}

h4,h5,h6 {
}

a:link         { color: #00e; }
a:link:visited { color: #551a8b; }
a:link:hover   { color: #06e; }
a:link:active  { color: #f00; }

img {
    max-width: 100%;
}

p, div.data {
    padding: 0 6%;
    text-align: justify;
    text-justify: inter-word;
}

table.data {
    width: 100%;
    /*text-align: justify;*/
    border-collapse: collapse;
    background-color: #c4e3ed; /* or #add8e6 */
}
table.data > tr > td, table.data > tbody > tr > td {
    border: 1px solid #63b4cf;
    padding: 5px;
}
table.data > tr:nth-child(odd), table.data > tbody > tr:nth-child(odd) {
    background-color: #8ac7db;
}

td.col-1, td.col-3 { width: 15%; }
td.col-2, td.col-4 { width: 35%; }


.Alg-Statement {
    /* font-size: 18px; */
    /* font-weight: bold;*/
    /* font-style: italic; */
}
.Alg-Statement-input {
}
.Alg-Math {
}
.Alg-Math-input {
}
